<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GIF 채팅방</title>
</head>
<body>
  <h1>F12를 눌러 console 탭과 네트워크 탭을 확인하세요.</h1>
  <script src="/log/socket.io.js"></script>
  <script>
    const socket = io.connect('http://localhost:7000', {
      //path: '/socket.io'
      path: '/log'
    });

    socket.on('OUT_2', function(data) {
      console.log(data);
      //socket.emit('reply', '여기는 브라우저, 메시지 잘 받았오요. [' + (new Date()).toLocaleString() + ']');
    });
    /* const webSocket = new WebSocket('ws://localhost:7000');
    webSocket.onopen = function() {
      console.log('서버와 웹소켓 연결 성공');
    }
    webSocket.onmessage = function(event) {
      console.log(event.data);
      webSocket.send('나는 클라이언트, 안녕!!! [' + (new Date()).toLocaleString() + ']');
    } */
  </script>
</body>
</html>